:root {
  --doc-height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

#map {
  position: relative;
  max-width: 585px;
  background-image: url("../media/images/map-default.png");
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  height: var(--doc-height);
}

#map.populated {
  background-image: url("../media/images/map.png");
}

#map > img {
  display: block;
  max-width: 100%;
}

#map-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
}

#search {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 56px;
  background-color: #fff;
  width: 80%;
  margin: 2rem auto 0 auto;
  padding: 0 1rem;
  align-items: center;
  border-radius: 8px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.icon {
  display: block;
  background-size: 100%;
  cursor: pointer;
}

.icon.search {
  background-image: url("../media/icons/search.png");
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

#map .search-text {
  flex-grow: 1;
  color: #6f6f6f;
}

#map:not(.populated) .search-text {
  color: #6f6f6f;
}

#map.populated .search-text {
  color: #000;
}

.icon.profile {
  background-image: url("../media/icons/profile.png");
  width: 40px;
  height: 40px;
}

#utilities {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 56px;
  width: 80%;
  margin: 2rem auto 0 auto;
  padding: 0;
  align-items: center;
}

.icon.filter {
  background-image: url("../media/icons/filter.png");
  width: 48px;
  height: 48px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
}

.icon.toggle {
  background-image: url("../media/icons/maplist-map.png");
  width: 109px;
  height: 40px;
}

.icon.camera {
  background-image: url("../media/icons/camera.png");
  width: 48px;
  height: 48px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
}

#bottom-controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

button.icon {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 64px;
  margin: 0 1px;
}

.icon.parking {
  background-image: url("../media/icons/parking.png");
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../media/icons/parking-active.png");
  }
  &:active {
    background-image: url("../media/icons/parking-active.png");
  }
}

.icon.bike {
  background-image: url("../media/icons/bike.png");
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../media/icons/bike-active.png");
  }
  &:active {
    background-image: url("../media/icons/bike-active.png");
  }
}

.icon.scooter {
  background-image: url("../media/icons/scooter.png");
  background-repeat: no-repeat;

  &:hover {
    background-image: url("../media/icons/scooter-active.png");
  }
  &:active {
    background-image: url("../media/icons/scooter-active.png");
  }
}

.bubble {
  position: absolute;
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.68, 0.21, 0.42, 2.46);
  width: 59px;
  height: 55px;
}

/* this animation causes text to fade in when a page loads. Only used in the "large" form factor. */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
